<div id="panonit-about-us-text">
    <a href="http://panonit.com/" target="blank" rel="noopener">PanonIT</a> is an IT development company based in Novi
    Sad, Serbia, recognized for
    the development of cutting-edge technology products. The company employs
    experts who come from both the academic world and the industry thus combining
    both theory, scientific research and first-hand experience.
    Having grown dynamically, PanonIT has become home to over 150 highly skilled
    and experienced engineers who continuously adopt new trends and technologies.
    We specialize in classical software product development, electronic device
    production and solutions that cover a range of industries.
    <br><br>
    In addition to our own products,
    PanonIT has emerged as an offshore outsourcing company - providing tailored solutions to
    companies of any size globally. Our outsourcing model is based on our comprehensive knowledge and vast experience.
    In addition to software and specialized development, PanonIT has been generating and implementing EU funded projects
    within FP7, Horizon 2020, Erasmus+, etc.
    We provide high quality research and development services.
    Our expertise is supported by university background and our long professional experience in developing various
    software and hardware solutions.
    <br><br>
    We offer:
    <br><br>
    <ul>
        <li>High-quality services that will meet your requirements and needs</li>
        <li>Experienced and highly educated professionals, capable of providing the
            best solution for your specific needs</li>
        <li>Reliability and dedication - the same team starts and finishes the project</li>
        <li>Possibility of both in-person and virtual meetings</li>
        <li>Finishing the work in time without missing deadlines</li>
    </ul>
    <br><br>

</div>