#panonit-submit-button {
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    height: 45px;
    color: inherit;
}

#panonit-links-container {
    font-size: 14px;
    margin-top: 10px;
}

mat-form-field.mat-form-field {
    display: block;
}
