<div mat-dialog-title class="panonit-dialog-header d-flex justify-content-between">
    <h4>Change Password</h4>
    <button mat-dialog-close class="panonit-close-icon-container" tabindex="-1"><i
            class="panonit-close-icon fas fa-times"></i></button>
</div>

<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row">

            <form [formGroup]="form" (ngSubmit)="changePassword()" class="col-lg-12">

                <div class="form-group">
                    <label for="oldPassword">Old Password:</label>
                    <input id="oldPassword" type="text" class="form-control" formControlName="oldPassword"
                        />

                    <div *ngIf="f.oldPassword.invalid && f.oldPassword.touched" class="alert alert-danger">
                        <div *ngIf="f.oldPassword.errors.required">This field is required</div>
                    </div>

                </div>

                <ng-container formGroupName="newPasswords">

                    <div class="form-group">
                        <label for="password">New Password:</label>
                        <input id="password" type="text" class="form-control" formControlName="password"
                            />

                        <div *ngIf="formService.getNestedFormControl(form, 'newPasswords', 'password').invalid && 
                        formService.getNestedFormControl(form, 'newPasswords', 'password').touched"
                            class="alert alert-danger">
                            <div
                                *ngIf="formService.getNestedFormControl(form, 'newPasswords', 'password').errors?.required">
                                This field is required</div>
                            <div
                                *ngIf="formService.getNestedFormControl(form, 'newPasswords', 'password').errors?.maxlength">
                                Maximum 30 characters allowed</div>
                            <div
                                *ngIf="formService.getNestedFormControl(form, 'newPasswords', 'password').errors?.minlength">
                                Minimum 8 characters required</div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password:</label>
                        <input id="confirmPassword" type="text" class="form-control" formControlName="confirmPassword"
                            />

                        <div *ngIf="(formService.getNestedFormControl(form, 'newPasswords', 'confirmPassword').invalid || 
                        f.newPasswords.errors?.unmatchingPasswords) && 
                        formService.getNestedFormControl(form, 'newPasswords', 'confirmPassword').touched"
                            class="alert alert-danger">
                            <div
                                *ngIf="formService.getNestedFormControl(form, 'newPasswords', 'confirmPassword').errors?.required">
                                This field is required</div>
                            <div *ngIf="f.newPasswords.errors?.unmatchingPasswords">Passwords don't match</div>
                        </div>

                    </div>

                </ng-container>

                <div class="panonit-form-buttons-container">
                    <button type="submit" mat-stroked-button>Change Password</button>
                    <button mat-stroked-button mat-dialog-close>Cancel</button>
                </div>
            </form>

        </div>

    </div>
</mat-dialog-content>