<form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">

    <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input [type]="'password'" matInput formControlName="password">
        <mat-error *ngIf="f.password.errors?.required">This field is required
        </mat-error>
        <mat-error *ngIf="f.password.errors?.maxlength">Maximum 70 characters
            allowed</mat-error>
        <mat-error *ngIf="f.password.errors?.minlength">Minimum 8 characters
            required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Confirm Password:</mat-label>
        <input [type]="'password'" [errorStateMatcher]="errorMatcher" matInput formControlName="confirmPassword">
        <mat-error *ngIf="f.confirmPassword.errors?.required">This field is
            required
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.errors?.unmatchingPasswords">Passwords don't match</mat-error>
    </mat-form-field>

    <button type="submit" mat-stroked-button id="panonit-submit-button">Reset Password</button>

</form>
