<form (ngSubmit)="login()" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
        <mat-label>Username:</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="f.username.errors?.required">This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input [type]="'password'" matInput formControlName="password">
        <mat-error *ngIf="f.password.errors?.required">This field is required</mat-error>
    </mat-form-field>
    <button type="submit" mat-stroked-button id="panonit-submit-button">Login</button>
</form>

<div class="d-flex align-items-center justify-content-between" id="panonit-links-container">
    <a href="" routerLink="/register">Register</a>
    <a href="" routerLink="/forgot-password">Forgot Password</a>
</div>
